body{
    background-color: maroon;
    /*text-align: center;*/
    color: ghostwhite;
}
h1{
   font-size:50;
}
/*hat, robes, boots and beard were helpful in layout, but i switched to a simple image of all because of relativity issues*/
/*#hat{*/
/*    height: 100;*/
/*    width: 100;*/
/*position: absolute;*/
/*    top: 100;*/
/*   left: 47%;*/
/*}*/
/*#robes{*/
/*    height: 500;*/
/*    width: 300;*/
/*    z-index: 1;*/
/*    position: absolute;*/
/*    top: 260;*/
/*    left: 42%;*/
/*}*/
/*#beard{*/
/*    height: 100;*/
/*    width: 75;*/
/*   margin-bottom: -50;*/
/*   margin-top: -20;*/
/*   z-index: -1;*/
/*   position: absolute;*/
/*    top: 200;*/
/*    left: 47.7%;*/
/*}*/
/*#boots{*/
/*    height: 150;*/
/*    width: 125;*/
/*    margin-top: -70;*/
/*    z-index: -1;*/
/*position: absolute;*/
/*    top: 730;*/
/*    left: 46.5%;*/
/*}*/

#fire1, #ice1{
    height: 100;
    width: 75;
    position: absolute;
    top: 450px;
    left: 60px;
}
#fire2, #ice2 {
    height: 100;
    width: 75;
    position: absolute;
    top: 450px;
    left: 300px;
}
#electric1{
    position: absolute;
    top: 400px;
    left: -30px;
}
#electric2
{
    height: 120;
    width: 120;
    position: absolute;
    top: 470px;
    left: 275px;
}

#p2{
    position: absolute;
    top: 355px;
    left: 50px;
}
#wiz{
}
h2{
    float: left;
    left: 50px;
}

#level1{
    color: yellow;
}
#level2{
     color: #00ad31;
}
#level3{
    color:#108d99;
}
#level4{
    color: #9100f9;
}
#level5{
    color:#ff00b6;
}
.title{
    position: absolute;
    top: 800;
}
.lvl{
    position: absolute;
    top: 835;
    left: 50;
}
.woah{
    position: absolute;
    top: 835;
    left: 210;
}
