body{
    background-color: #3f3f3f;
    margin: 20px;
    color: white;
}
hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #000000;
    margin: 1em 0;
    padding: 0; 
}
#err{
    color: red;
}
#timesAccessed{
    color: salmon;
}
img{
    border-radius: 10px;
    margin: 5px;
}
input{
    color: black;
}