body{
    background-color: tan;
    background-image: url("../img/pasta-background.jpg");
    /*border-image: url("../img/pasta-background.jpg") 30 round;*/
    background-size: 100%, 100%;
    color: #042e72;
    font-family: 'Raleway', sans-serif !important;
    font-size: 18px !important;
}
background-image{
    opacity: 0.2;
}
#content
{
    background-color: #fce5a1;
}
#pad{
    padding: 50px;
}
input{
    font-size: 24px;
}
h3{
    background-color: tan;
    padding: 10px;
    border-radius: 5px;
}
input{
    /*border-radius: 2px;*/
}
hr{
    color: tan;
    display: block;
}
#submit{
    text-align: center;
    font-size: 32px;
}
#resultPic{
    text-align: center;
}

#rContent{
    background-color: #fce5a1;
  height: 100%;   
}
#message{
    font-size: 24px;
    text-align: center;
}
.textInput{
    background-color: #fff5c6;
}
.err{
    color: orange;
}
