body{
    background-color: #f7c171 !important;
    text-align: center;
    
}
table{
    text-align: center;
    /*margin-left: 100px;*/
}
td, th {
    /*border: 1px solid #52aa69;*/
    text-align: left;
    margin-left: 50px;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #cca64f;
}