body{
    background-color: white;
    margin-left: 50px;
    
}
option{
    margin-top: 10px;
}
input{
margin-top: 10px;
    
}
.found{
    color: forestgreen;
}
.notFound{
    color: red;
}
.matching{
    color: forestgreen;
}
.unmatching{
    color: red;
}