body{
    background-color: #707070;
    margin-left: 50px;
    color: antiquewhite;
}
option{
    margin-top: 10px;
}
input{
margin-top: 10px;
    
}
.found{
    color: #aee8af;
}
.notFound{
    color: #ea8ca1;
}
.matching{
    color: #aee8af;
}
.unmatching{
    color: #ea8ca1;
}
option{
    color : black;
}
select{
    color: black;
}
input{
    color: black;
}
h1{
    font-size: 24px;
}
p{
    font-weight: bold;
}
input{
    border-radius: 2px;
}
#stateId{
    margin-bottom: 10px;
}
hr{
    display: block;
    height: 2px;
    color: antiquewhite;
    margin: 20px;
}
